@font-face{
	font-family: AlteDin;
	src: url(../fonts/din1451alt.ttf);
}
html, body{
	margin: 0;
	background-color: #252553;
}
.mainLogo{
	max-width: 100%;
	max-height: 100vh;
	margin-left: auto;
	margin-right: auto;
}
.imgBox{
	display: grid;
	height: 100%;
}